<% include ../partials/header %>


<div class="container">
  <div class="row center">
    <h1>Create New List</h1>
    <form class="" action="/lists" method="post">
      <div class="form-group">
        <label class="hidden" for="name">Name</label>
        <input class="form-control" id="name" type="text" name="list[name]" placeholder="List name" required>
      </div>
      <div class="form-group">
        <ul class="list-group new-list-permissions">
          <li class="list-group-item permissions-">
            <strong class="text-lg">List Permissions</strong>
            <div class="">
              <button type="button" id="btn-check-permissions" class="btn btn-default">Check All</button>
              <button type="button" id="btn-uncheck-permissions" class="btn btn-default">Uncheck All</button>
            </div>
          </li>
        <% friends.forEach(function(friend){ %>
          <li class="list-group-item">
              <input type="checkbox" checked name="permissions[]" value="<%= friend._id %>">
              <span class="new-list-permission"><%= friend.username %></span>
           </li>
        <% }) %>
      </ul>
      </div>
      <button type="submit" class="btn btn-default">Create</button>
    </form>
  </div>
</div>

<script type="text/javascript" src="/scripts/newList.js"></script>
<% include ../partials/footer %>
