<% include ../partials/header %>


<div class="container">
  <div class="row center">
    <h1>Create New List</h1>
    <form class="" action="/lists" method="post">
      <div class="form-group">
        <label class="hidden" for="name">Name</label>
        <input class="form-control" id="name" type="text" name="list[name]" placeholder="List name" required>
      </div>
      <div class="form-group">
        <ul class="list-group new-list-permissions">
          <li class="list-group-item"><strong>List Permissions:</strong></li>
        <% friends.forEach(function(friend){ %>
          <li class="list-group-item"><label><input type="checkbox" checked name="permissions[]" value="<%= friend._id %>" /> <%= friend.username %> </label></li>
        <% }) %>
      </ul>
      </div>
      <button type="submit" class="btn btn-default">Create</button>
    </form>
  </div>
</div>

<% include ../partials/footer %>
