<!DOCTYPE HTML>
<html>
<head>
<title>List</title>
<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="/stylesheets/main.css">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
  <nav class="navbar navbar-default navbar-expand">

    <div class="container">
  		<div class="navbar-header">
  			<a href="/" class="navbar-brand">ListApp</a>
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbarToggle"
         aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
  		</div>
  		<div class="collapse navbar-collapse" id="navbarToggle">

        <ul class="nav navbar-nav">
          <li class="nav-item <%= typeof page !== 'undefined' && page === 'lists' ? 'active' : '' %>"><a href="/lists">Home</a></li>
          <li class="nav-item <%= typeof page !== 'undefined' && page === 'users' ? 'active' : '' %>"><a href="/users">Friends</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right mr-auto mt-2 mt-lg-0">
          <% if (!currentUser) { %>
            <li class="nav-item"><a href="/login">Login</a></li>
            <li class="nav-item"><a href="/register">Sign Up</a></li>
          <% } else { %>
            <li class="nav-item"><a href="#">Logged in as <strong><%= currentUser.username %></strong></a></li>
            <li class="nav-item"><a href="/logout">Logout</a></li>
          <% } %>
  			</ul>
  		</div>

    </div>
  </nav>
