<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>ListApp</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="/stylesheets/landing.css">
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js"></script>
  </head>
  <body>
    <div class="container">
      <h1>Welcome to ListApp!</h1>
      <h3>
        This is a web app for sharing lists online. Create a list, add your family and friends, and now you have a shared list that you can view or update from anywhere without having to carry pen and paper. Getting a shopping list together? Just tell your family or friends to update your list. Now they can add to your list from their smartphone or computer whenever they think of something they need instead of having to find you to write it down!
      </h3>
      <a class="btn btn-default btn-lg" href="/login">Login</a>
      <a class="btn btn-default btn-lg" href="/register">Sign Up</a>
    </div>
  </body>
</html>
