<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>ListApp</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="/stylesheets/landing.css">
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js"></script>
  </head>
  <body>
    <div class="container">
      <div class="col-md-6 col-sm-12">
        <h1>PocketList</h1>
        <p class="app-desc">
          PocketList is for sharing lists online. Grocery lists, to-do lists, whatever you need. Update your lists from anywhere with your friends!
        </p>
        <a class="btn btn-login btn-lg" href="/login">Login</a>
        <div class="center buttons-between"><strong>- or -</strong></div>
        <a class="btn btn-register btn-lg" href="/register">Sign Up (Free)</a>
      </div>
      <div class="col-md-6 col-sm-12">
        <div class="actions-desc">
          <p class="action-item"><i class="glyphicon glyphicon-user"></i> Add friends</p>
          <p class="action-item"><i class="glyphicon glyphicon-list-alt"></i> Create and share lists</p>
          <p class="action-item"><i class="glyphicon glyphicon-plus"></i> Add items from anywhere</p>
        </div>
      </div>
    </div>
  </body>
</html>
