<% include partials/header %>

<div class="container">
  <h1>All Lists</h1>

  <% lists.forEach(function(list){ %>
    <h3><%= list.name %></h3>
    <ul>
      <% list.items.forEach(function(item){ %>
        <li><%= item %></li>
      <% }) %>
    </ul>
  <% }) %>

</div>
<% include partials/footer %>
