<% include partials/header %>


<div class="container">
  <div class="row">
  <h1>Create New List</h1>
  <form class="" action="/lists" method="post">

    <div class="form-group">
      <label for="name">Name</label>
      <input id="name" type="text" name="list[name]" placeholder="List name">
    </div>
    <div class="form-group">
      <label for="privacy-public">Public</label>
      <input id="privacy-public" type="radio" name="list[privacy]" value="public" checked>
      <label for="privacy-private">Private</label>
      <input id="privacy-private" type="radio" name="list[privacy]" value="private">
      <label for="privacy-friends">Friends Only</label>
      <input id="privacy-friends" type="radio" name="list[privacy]" value="friends only">
    </div>
    <div class="form-group">
      <label for="owner">Owner</label>
      <input id="owner" type="text" name="list[owner]" placeholder="List owner">
    </div>
    <div class="form-group">
      <label for="items">Items</label>
      <textarea id="items" name="list[items]" placeholder="List items (separate by commas)..."></textarea>
    </div>
    <button type="submit" class="btn btn-default">Create</button>

  </form>
</div>
</div>
