<% include partials/header %>

<div class="container">
  <h1>Sign up!</h1>

  <form class="" action="/register" method="post">
    <input type="text" name="username" placeholder="username">
    <input type="password" name="password" placeholder="password">
    <input class="btn btn-primary" type="submit" value="Sign Up">
  </form>
</div>

<% include partials/footer %>
