<% include partials/header %>
<div class="container">
  <h1><%= list.name %></h1>
  <p>Created by <%= list.owner %> on <%= list.createdAt.toDateString() %></p>
  <ul>
    <% list.items.forEach(function(item){ %>
      <li><%= item %></li>
    <% }) %>
  </ul>
</div>
<% include partials/footer %>
