<% include partials/header %>
<div class="container">
  <h1>Users page</h1>
  <ul class="list-group">
  <% users.forEach(function(user){ %>
    <% if(!user._id.equals(currentUser._id)){ %>
      <li class="list-group-item">
        <%= user.username %>
        <% if(currentUser.friends.indexOf(user._id) < 0) { %>
          <form action="/addFriend/<%= user._id %>" method="post">
              <input type="submit" value="Add Friend">
          </form>
        <% } else { %>
          <form action="/removeFriend/<%= user._id %>" method="post">
              <input type="submit" value="Remove Friend">
          </form>
        <% } %>

      </li>
    <% } %>
  <% }) %>
  </ul>
</div>

<% include partials/footer %>
