<% include partials/header %>

<!-- Add friend search form on this page -->

<div class="container">
  <h1>My Friends</h1>
  <div class="row">
    <div class="col-sm-8">
      <ul class="list-group">
      <% users.forEach(function(user){ %>
        <% if(!user._id.equals(currentUser._id)){ %>
          <li class="list-group-item">
            <%= user.username %>
            <% if(currentUser.friends.indexOf(user._id) < 0) { %>
              <form action="/addFriend/<%= user._id %>" method="post">
                  <input type="submit" value="Add Friend">
              </form>
            <% } else { %>
              <form action="/removeFriend/<%= user._id %>" method="post">
                  <input type="submit" value="Remove Friend">
              </form>
            <% } %>
          </li>
        <% } %>
      <% }) %>
      </ul>
    </div>
    <div class="col-sm-4">
      <div class="friends-page-search">
        <form class="" action="/users/search" method="GET">
          <input id="search-bar" class="form-control" type="search" name="search" autocomplete="off" placeholder="Search for friends...">
        </form>
        <div class="search-results hide-search-results relative">
          <ul id="users-list" class="list-group">
          </ul>
          <button id="btn-hide-results" class="btn btn-default btn-sm btn-hide-results" type="button">Hide Results</button>
        </div>
      </div>
    </div>
  </div>
</div>

<% include partials/footer %>
