html, body {
  height: 100%;
  width: 100%;
}

body {
  background-image: url("/images/write.jpg");
  color: white;
  background-size: cover;
  background-repeat: no-repeat;
}

.container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

h1 {
  text-shadow: 2px 2px 10px black;
}

h3 {
  text-shadow: 2px 2px 4px black;
  text-align: left;
}

@media (max-width: 767px){
  .container {
    width: 80%;
  }
}
