body {
  padding-bottom: 20px;
}

.center {
  text-align: center;
  margin: 0 auto;
}

.hidden {
  display: none;
}

.delete-form {
  display: inline;
}

.list-group {
  margin-top: 10px;
}

.list-item-input {
  border: none;
  border: 2px solid transparent;
}

.list-item-input:focus {
  outline: none;
  border-bottom: 2px solid lightblue;
}

.btn-delete-item {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 15px;
}

#new-item-submit {
  margin-top: 5px;
}

.item-added-by {
  color: gray;
}
