html {
  min-height: 100%;
}

body {
  padding-bottom: 100px;
  padding-top: 60px;
  background: linear-gradient(to bottom right, rgba(10, 100, 255, 1), rgba(10,10,125,1), rgba(10,10,50,1));
  background-repeat: no-repeat;
  color: white;
}

ul, input {
  color: black;
}

.navbar {
  background-color: #101050;
  border: none;
}

.navbar-inverse .navbar-nav > li > .nav-link, .navbar-inverse .navbar-brand {
  color: white;
}

.navbar-inverse .navbar-nav > li > .nav-link:hover, .navbar-inverse .navbar-brand:hover {
  background-color: black;
}

.center {
  text-align: center;
  margin: 0 auto;
}

.hidden {
  display: none;
}

.notification {
  position: fixed;
  z-index: 1040;
  bottom: -60px;
  opacity: 0;
  margin: 0 auto;
  background-color: rgba(0,0,0,1);
  color: #FFF;
  width: 200px;
  left: 50%;
  margin-left: -100px;
  padding: 10px;
  border-radius: 5px;
  text-align: center;
  transition: transform 250ms, opacity 250ms, background-color 250ms;
}

.notification-slide-down {
  transform: translateY(-120px);
  opacity: 1;
}

.notification-item {
  max-width: 100px;
  overflow: hidden;
  vertical-align: middle;
  text-overflow: ellipsis;
  display: inline-block;
  white-space: nowrap;
}

.notification-message {
  display: inline-block;
  vertical-align: middle;
}

.notification-success {
  background-color: #00aa00;
}

.list-group {
  margin: 10px 0;
}

.edit-item-form {
  display: inline-block;
  width: 80%;
}

.list-item-input {
  border: none;
  border-top: 2px solid transparent;
  border-bottom: 2px solid transparent;
  border: 2px solid rgba(10,10,255,0.1);
  padding: 2px;
  border-radius: 5px;
  width: 100%;
}

.list-item-input:focus {
  outline: none;
  border: 2px solid rgba(10,10,255,0.5);
}

.slide-left {
  transform: translateX(-120%);
  opacity: 0.8;
  transition: transform 200ms linear;
}

@keyframes slideRight {
  from {
    opacity: 1;
    transform: translateX(-120%);
  }
  to {
    opacity: 0;
    transform: translateX(0);
  }
}

.btn-delete-item {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 15px;
}

#new-item-submit {
  margin-top: 5px;
}

.item-added-by {
  color: gray;
}

.user-search {
  transform: translateY(25%);
  margin-left: 5px;
}

.search-results {
  position: absolute;
  width: 100%;
  background-color: white;
  border: 1px solid lightgray;
  margin-top: -2px;
  border-top: none;
  z-index: 10;
  transform-origin: top;
  transition: transform 250ms;
}

.hide-search-results {
  transform: scaleY(0);
}

#users-list {
  margin: 0;
  max-height: 200px;
  overflow-y: scroll;
}

#users-list li {
  border: 0;
  border-top: 1px solid lightgray;
  border-radius: 0;
}

.btn-hide-results {
  width: 100%;
  border: none;
  border-top: 1px solid lightgray;
  border-radius: 0;
}

.buttons-menu {
    position: fixed;
    display: table;
    bottom: 10px;
    margin: 0 auto;
    left: 50%;
    transform: translateX(-50%);
}

#btn-add-item, #new-item-submit {
  padding: 10px 15px;
  background-color: #1010FF;
  border: none;
  font-weight: bold;
}

#btn-add-item {
  margin-right: 2px;
}

#btn-add-item:hover, #new-item-submit:hover {
  background-color: #1010cc;
}

#btn-edit-item {
  padding: 10px 15px;
  border: none;
  font-weight: bold;
  margin-left: 2px;
}

@media screen and (max-height: 600px) {
  .navbar {
    position: absolute;
  }
}

@media (max-width: 767px){
  #search-bar {
    display: none;
  }

  input, .form-control {
    font-size: 16px;
  }
}
